<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Demo</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="appIndex" ng-controller="indexController as index">
	<h1 th:text="|Login ${oauth2GrantType}|"></h1>
	<div class="container" ng-show="!home.authenticated">
		<div>
			With NetIq: <a href="/localization">click here</a>
		</div>
		<div>
			With Google: <a href="/google">click here</a>
		</div>
		<div>
			With Maxopus: <a href="/maxopus">click here</a>
		</div>		
	</div>
	<div class="container" ng-show="index.authenticated">
		Logged in as: <span ng-bind="index.user"></span>
	</div>
	<div ng-show="index.authenticated">
		<button ng-click="index.logout()" class="btn btn-primary">Logout</button>
	</div>
</body>
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
	angular.module("appIndex", []).controller("indexController", function($http, $location, $window) {
		var self = this;
		$http.get("/user").success(function(data) {
			self.user = data.userAuthentication.details.name;
			self.authenticated = true;
		}).error(function() {
			self.user = "N/A";
			self.authenticated = false;
		});
		self.logout = function() {
			$http.post('/logout', {}).success(function() {
				self.authenticated = false;
				$window.location.href = '/index.html';
				//$location.path("/index.html");
			}).error(function(data) {
				console.log("Logout failed")
				self.authenticated = false;
			});
		};
	});
</script>
</html>