<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Demo</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<base href="/" />
		<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    	
	    <script type="text/JavaScript" language="JavaScript">
	    
		    //Get inContact Token
		    var accessToken = '';
		    var baseURI = '';
	
// 		    $.ajaxSetup({
// 		          beforeSend : function(xhr, settings) {
// 		            if (settings.type == 'POST' || settings.type == 'PUT' || settings.type == 'DELETE') {
// 		              if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
// 		                // Only send the token to relative URLs i.e. locally.
// 		                xhr.setRequestHeader("X-XSRF-TOKEN", Cookies.get('XSRF-TOKEN'));
// 		              }
// 		            }
// 		          }
// 	        });
		    
		    function getToken() {
		        var url_base = 'https://directsales-ub-local.ncw.webapps.rr.com:8081/oauth/token';//'http://localhost:8769/oauth/token';
		
		        // The auth_token is the base64 encoded string for the API 
		        // application.
		        var auth_token = 'fooClientId:fooSecret';
		        auth_token = window.btoa(auth_token);
		        var requestPayload = {
		            grant_type: 'password',
		            username: 'user',
		            password: 'user',
		            scope: 'read'
		        }
		        $.ajax({
		        	async: true,
		        	//"crossDomain": true,
		            url: url_base,
		            type: 'POST',
		            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
		            dataType: 'json',
		            headers: { 
		                //'Accept': 'application/json',
		                'Authorization': 'Basic ' + auth_token
		            },
		            data: requestPayload,
		            success: function (result) {
		              //Process success actions
		              accessToken = result.access_token;
		              //baseURI = result.resource_server_base_uri;
		              //alert('Success!\r\nAccess Token:\r' + accessToken + '\r\nBase URI:\r' + baseURI)
		              document.getElementById('pageDiv').innerHTML = JSON.stringify(result);//.access_token;
		              //return result;
		            },
		            error: function (XMLHttpRequest, textStatus, errorThrown) {
		              //Process error actions
		              alert('Error: ' + errorThrown);
		              console.log(XMLHttpRequest.status + ' ' + XMLHttpRequest.statusText);
		              return false;
		            }
		        });
		      }
		    
		      function getAgentList() {
		          var url_base = 'https://directsales-ub-local.ncw.webapps.rr.com:8080/api/users/v1/me';
		          //alert(accessToken);
		          $.ajax({
		              url: url_base,
		              type: 'GET',
		              dataType: 'json',
		              headers: {
	            	  	'Authorization': 'Bearer ' + accessToken
		              },
		              success: function (result) {
		                //Process success actions
		                var returnResult = JSON.stringify(result);
		                //alert('Success!\r\n' + returnResult);
		                document.getElementById('callResults').innerHTML = returnResult;
		                return result;
		              },
		              error: function (XMLHttpRequest, textStatus, errorThrown) {
		            	  alert('Error: ' + errorThrown);
		            	  console.log(XMLHttpRequest.status + ' ' + XMLHttpRequest.statusText);
		                  return false;
		              }
		          });
		      }
	         
	          /* $.get("/user", function(data) {
		          $("#user").html(data.userAuthentication.details.name);
		          $(".unauthenticated").hide();
		          $(".authenticated").show();
	          });
	          $.get("/homeAction", function(data) {
	          	console.log(data);
	          }); */
	          var logout = function() {
	            $.post("/logout", function() {
	              $("#user").html('');
	              $(".unauthenticated").show();
	              $(".authenticated").hide();
	            })
	            return true;
	          }
	    </script>
	    <style>
          .outer {
              width: 960px;
              min-height: 45px;
              height: auto;
              color: black;
              background-color: lightgray;
              border: 1px solid black;
              padding: 5px;
              word-wrap: break-word;
          }
      </style>
	</head>
	<body>
	        
	    <!-- List of Agents within a BU -->        
	     <button onclick="getToken()">Get Token</button>
	     <br />
	     <div class="outer" id="pageDiv"></div>
	     <br />
	     <!-- Make sure to update the "button onclick" with the method being tested -->
	     <button onclick="getAgentList()">Run</button>
	     <br />Results:
	     <br />
	     <div class="outer" id="callResults"></div>
	    
	</body>
</html>